<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Provider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source = DRAGON;
         Initial Catalog = AutoLot; Integrated Security = True"/>
    <add name="AutoLotOleProvider" connectionString="Provider = SQLNCLI11; Data Source = DRAGON;
         Initial Catalog = AutoLot; Integrated Security = True"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>